# Основные пакеты для данных
numpy==2.1.2
pandas==2.2.3
tqdm==4.67.1
matplotlib==3.10.1
librosa==0.11.0
Levenshtein==0.27.1
pydantic==2.11.5

# Глубокое обучение
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
transformers[torch]

# Дополнительные инструменты
scikit-learn==1.6.1 # sklearn
Pillow==10.0.0  # PIL
fastapi~=0.109.2 
pydantic-settings~=2.2.1 
uvicorn~=0.28.0
python-multipart~=0.0.20
